@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

h1{
    color: rgb(132, 91, 91);
    text-align: center;
    font-family: Dancing Script;
}

h2{
    font-style: italic;
    padding: 5px;
}

.intro{
    background-color: rgba(255, 229, 84, 0.622);
    color: rgb(132, 91, 91);
    font-style: italic;
    margin: 10px;
    text-align: center;
    border-style: double;
}

.consejos{
    color: rgb(255, 229, 84, 0.622);
    text-align: center;
    font-style: italic;
    padding: 10px;
    background-color:rgb(132, 91, 91) ;
}

.bienvenido{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(69, 72, 70);
    background-image: url(../img/fondoformulario.jpg);
}

#pie{
    text-align: center;
    margin: 50px;
    padding: 50px;
    font-size: small;
    text-decoration: solid;
}

.btn{
    padding: 2px;
    margin: 2px;
    background-color:rgb(236, 174, 17);
    border-style: double;
    
}

.formu{
    padding: 5px;
    margin: 5px;
    background-image: url(../img/fondoformulario.jpg);
}
