h1{
    text-align: center;
    color: rgb(69, 55, 55);
    
}

p{
    color: rgb(104, 10, 138);
    text-align:start
    font-style: italic;
}

h2{
    text-align: center;
    color: rgb(69, 55, 55);
    text-decoration: underline;
    font-weight: 100;
    
}

.pasos{
    font-style: italic;
}

.info{
    color: rgb(108, 6, 37);
    text-align: left;
}


.listado{
    color: rgb(56, 38, 63);
    text-align:center;
    font-style: italic;
    text-decoration:underline;
    font-size: large;
}

.btnSoli{
    background-color: rgb(224, 205, 130);
    color:rgb(42, 25, 49);
}

h3{
    text-align: center;
}
.juego{
    padding: 10px;
    margin: 10px;
    width: 15px;
    height: 15px;
    border: solid 3px black;
}

.intentos{
    color: rgb(42, 25, 49);
    text-decoration: solid;
}